<div class="modal-header">
  {% block header %}
  <span class="modal-title">{{ title }}</span>
  <span class="modal-close">&times;</span>
  {% endblock %}
</div>
<div class="modal-body">
  {% block body %}
  <p>{{ text }}</p>
  {% endblock %}
</div>
<div class="modal-footer">
  {% block footer %}
  {% for name, button in buttons %}
  <button class="btn{% if button.style %} btn-{{ button.style }}{% endif %}" name="{{ name }}">{{ button.label }}</button>
  {% endfor %}
  {% endblock %}
</div>
{# vim:ft=jinja:sw=2
#}
