<div class="modal-header">
  {% block header %}
  <span class="modal-title">{{ title }}</span>
  <div class="header-controls">
    {% if closeButton %}
    <a class="btn btn-xs btn-icon" name="modal-close" role="button" title="Close">
      <i class="icon ion-close-round"></i>
    </a>
    {% endif %}
  </div>
  {% endblock %}
</div>
<div class="modal-body">
  {% block body %}
  <p>{{ text }}</p>
  {% endblock %}
</div>
<div class="modal-footer">
  {% block footer %}
  <div class="footer-controls">
    {% for name, button in buttons %}
    <button class="btn btn-{{ button.style|d('default') }}" name="{{ name }}">{{ button.label }}</button>
    {% endfor %}
  </div>
  {% endblock %}
</div>
{# vim:ft=jinja:sw=2
#}
