{% extends "base.html" %}

{% block title %}Point of Sale{% endblock %}

{% block module_style %}
<link rel="stylesheet" href="/static/fonts/roboto.css" type="text/css">
<link rel="stylesheet" href="/static/css/nobix.css" type="text/css">
{% endblock %}

{% block module_js %}
<script src="/static/js/vendor/jquery-1.10.2.js"></script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    var h_height = $('#pos header').outerHeight();
    var f_height = $('#pos footer').outerHeight();
    $('#pos #content').css({top: h_height, bottom: f_height});

    var $li = $('.item-list li');
    var li_width = $li.width();
    $('.composed-field').width(li_width - 350 - 25);
    $('.composed-field input').focusin(function() {
      $(this).parent().toggleClass("focused", true);
    }).focusout(function() {
      $(this).parent().toggleClass("focused", false);
    });
    $('#content input:first').focus();
  });
</script>
{% endblock %}

{% block body %}
<div id="pos">
  <header>header</header>
  <div id="content" class="clearfix">
    <ul class="item-list">
      {% for l in range(20) %}
      <li class="{{ loop.cycle('odd', 'even') }}">
        <div class="composed-field code-description">
          <input class="code" type="text" size="14" maxlength="14">
          <span class="description">Descripción del artículo</span>
        </div>
        <input class="quantity" type="text" size="5" maxlength="5">
        <span class="unit-price">unit-price</span>
        <span class="row-price">row-price</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <footer>footer</footer>
</div>
{% endblock %}
