{% extends "base.html" %}

{% block title %}Point of Sale{% endblock %}

{% block module_style %}
<link rel="stylesheet" href="/static/fonts/roboto.css" type="text/css">
<link rel="stylesheet" href="/static/css/nobix.css" type="text/css">
<style type="text/css" media="screen">
  input.code { text-transform: uppercase; }
</style>
{% endblock %}

{% block module_js %}
<script src="/static/js/config.js"></script>
<script src="/static/js/vendor/require.js" data-main="main">
</script>
{% endblock %}

{% block body %}
<div id="pos">
  <header>header</header>
  <div id="content" class="clearfix">
    <table class="table table-striped item-list">
      <colgroup>
        <col class="col-code-description">
        <col class="col-quantity">
        <col class="col-unit-price">
        <col class="col-total-price">
      </colgroup>
      <tbody></tbody>
    </table>
  </div>
  <footer>
    <div class="total-container">
      <span class="sign">$</span>
      <span id="total">0,00</span>
    </div>
  </footer>

  <!-- modal dialog -->
  <div id="modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Title</h4>
        </div>
        <div class="model-body">
          ...
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- End model dialog -->
</div>
{% endblock %}
