{% extends "component.html" %}

{% block content %}
<div class="page-header">
  <h1>Productos</h1>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Vigencia</th>
      <th class="text-right">Precio</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td><a href="{{ url_for('web.product.view', id=product.id) }}">{{ product.sku }}</a></td>
      <td>{{ product.description }}</td>
      <td>{{ product.modified|datefmt }}</td>
      <td class="text-right">{{ product.price|moneyfmt(curr='$ ') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
