<div class="modal" role="dialog" tabindex="0">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">Dialog Title</span>
        <span class="modal-close">&times;</span>
      </div>
      <div class="modal-body">
        <p>Esto es un mensaje que aparece en el cuerpo de la ventana de dialogo.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" name="save">Guardar</button>
        <button class="btn" name="close">Cerrar</button>
      </div>
    </div>
  </div>
</div>
