{% macro render_field(field, input_cls="span") %}
<div class="field {{ field.id }}">
  {% if field.label %}{{ field.label }}{% endif %}
  {% if field.errors %}
  {%- set css_class = 'has_error ' + kwargs.pop('class', '') -%}
  {{ field(class=css_class, **kwargs) }}
  <ul class="field_error">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
  {%- else -%}
  {{ field(**kwargs) }}
  {%- endif %}
  {%- if field.description %}<p class="fieldinfo">{{ field.description }}</p>{% endif %}
</div>
{% endmacro %}
