<div class="title dropdown">
  <span class="dropdown-toggle" data-toggle="dropdown">
    Proveedores <i class="caret"></i>
  </span>
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="http://google.com">Action</a></li>
    <li class="current"><a tabindex="-1" href="suppliers">Proveedores</a></li>
    <li><a tabindex="-1" href="products">Productos</a></li>
    <li><a tabindex="-1" href="#" disabled="">Facturas</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#" disabled="">Pedidos</a></li>
  </ul>
</div>
