<!doctype html>
<html class="no-js" lang="es-ar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Nobix &mdash; Administration interface</title>
    <link rel="stylesheet" href="/static/css/nobix.css" type="text/css">
    <script type="text/javascript" charset="utf-8">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="/static/js/vendor/modenizr.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <nav class="appbar">
          <ul>
            <li><a href="pos"><span>POS</span></a></li>
            <li class="selected"><a href=""><span>Admin</span></a></li>
          </ul>
        </nav>
        <div class="banner"></div>
      </header>

      <div id="page" class="clearfix">
        <aside></aside>
        <div class="main">
          <div class="toolbar"></div>
          <div id="content_wrapper">
            <div id="scroll_wrapper">
              <div id="content"></div>
              <footer>
                <span class="copy-notice">©2013 Rocctech</span>
                -
                <a href="http://www.rocctech.com.ar/nobix/terms" target="_blank">Condiciones</a>
                -
                <a href="http://www.rocctech.com.ar/nobix/privacy" target="_blank">Políticas de Privacidad</a>
              </footer>
            </div>
          </div>

        </div>
      </div>        

    </div> <!-- end id="wrapper" -->
  </body>
</html>
