<!doctype html>
<html class="no-js" lang="es-ar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Nobix &mdash; Administration interface</title>
    <link rel="stylesheet" href="/static/css/nobix.css" type="text/css">
    <script type="text/javascript" charset="utf-8">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="/static/js/vendor/modernizr.js"></script>

    <script src="/static/js/config.js"></script>
    <script src="/static/js/vendor/require.js" data-main="admin"></script>
  </head>

  <body>
  </body>
</html>
