{% extends "layout.html" %}

{% block header %}
<header>
  <nav class="appbar">
    <ul>
      <li><a href="#"><span>Fibra</span></a></li>
      <li><a href="#"><span>SPL</span></a></li>
      <li class="selected"><a href="#"><span>Nobix</span></a></li>
      <li><a href="#"><span>Inventario</span></a></li>
      <li><a href="#"><span>Clientes</span></a></li>
      <li><a href="#"><span>Email</span></a></li>
    </ul>
  </nav>
  <div class="banner"></div>
</header>
{% endblock %}

{% block page %}
<div id="page" class="clearfix">
  <aside></aside>
  <section id="main">
    {% block toolbar %}{% endblock %}
    <div id="content_wrapper">
      <div id="scroll_wrapper">
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
