{% extends "layout.html" %}

{% block header %}
<header>
  <nav class="appbar">
    <ul>
      <li><a href="#"><span>Fibra</span></a></li>
      <li><a href="#"><span>SPL</span></a></li>
      <li class="selected"><a href="#"><span>Nobix</span></a></li>
      <li><a href="#"><span>Inventario</span></a></li>
      <li><a href="#"><span>Clientes</span></a></li>
      <li><a href="#"><span>Email</span></a></li>
    </ul>
  </nav>
  <div class="banner"></div>
</header>
{% endblock %}

{% block page %}
<div id="page" class="clearfix">
  <aside>{% block sidebar %}{% endblock %}</aside>
  <div class="main">
    <div class="toolbar">{% block toolbar %}{% endblock %}</div>
    <div id="content_wrapper">
      <div id="scroll_wrapper">
        <div id="content">
          {% block content %}{% endblock %}
          <footer>
            <span class="copy-notice">©2013 Rocctech</span>
            -
            <a href="http://www.rocctech.com.ar" target="_blank">Condiciones</a>
            -
            <a href="http://www.rocctech.com.ar" target="_blank">Políticas de Privacidad</a>
          </footer>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
