{% macro render_field(field, input_cls="span") %}
<div class="field {{ field.id }}">
  {% if field.label %}{{ field.label }}{% endif %}
  {% if field.errors %}
  {%- set css_class = 'has_error ' + kwargs.pop('class', '') -%}
  {{ field(class=css_class, **kwargs) }}
  <ul class="field_error">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
  {%- else -%}
  {{ field(**kwargs) }}
  {%- endif %}
  {%- if field.description %}<p class="fieldinfo">{{ field.description }}</p>{% endif %}
</div>
{% endmacro %}

{% macro render_alpha_pagination(p, field='name') %}
{%- if p.pages > 1 %}
<div class="pager pull-right">
  <div class="pages">
    <span>{{ p.items[0][field].split()[0] }}</span>
    -
    <span>{{ p.items[-1][field].split()[0] }}</span>
  </div>
  <div class="btn-group">
    <button name="prev-page" data-target="{{ url_for(request.endpoint, page=p.prev_num, per_page=p.per_page if p.per_page != 25 else None) if p.has_prev else '#' }}" rel="tooltip" title="Anterior" data-placement="bottom" class="btn-thin"{% if not p.has_prev %} disabled{% endif %}><i class="icon-chevron-left"></i></button>
  </div>
</div>
{%- endif %}
{% endmacro %}
