{% extends "layout.html" %}

{% block module_style %}
<link rel="stylesheet" href="/static/css/nobix.css" type="text/css">
{% endblock %}

{% block module_js %}
{% if config.DEBUG %}
<script src="/static/js/app/config.js"></script>
<script src="/static/js/app/vendor/require.js" data-main="pos"></script>
{% else %}
<script src="/static/js/nbs-pos.js"></script>
{% endif %}
{% endblock %}

{#
{% block body %}
<div id="pos">
  <header>header</header>
  <div id="content" class="clearfix">
    <table class="table table-striped item-list">
      <colgroup>
        <col class="col-code-description">
        <col class="col-quantity">
        <col class="col-unit-price">
        <col class="col-total-price">
      </colgroup>
      <tbody></tbody>
    </table>
  </div>
  <footer>
    <div class="total-container">
      <span class="sign">$</span>
      <span id="total">0,00</span>
    </div>
  </footer>

  <!-- modal dialog -->
  <div id="modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Title</h4>
        </div>
        <div class="model-body">
          ...
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- End model dialog -->
</div>
{% endblock %}
#}
