/* Style for admin pages */

#wrapper {
  #content_wrapper {
    footer {
      color: $footer-font-color;
      font-size: 85%;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 5px;
      padding-top: 8px;

      a {
        color: $footer-font-color;
        text-decoration: underline;
      }
    }
  }
}
