/* Style for admin pages */

#body {
  padding-top: 5px;
  @include clearfix();

  #main_content {
    float: left;

    #toolbar {
      border-bottom: 1px solid $toolbar-border-color;
      margin-left: -400px;
      margin-top: 2px;
      padding: 0 16px 7px 400px;
      height: 38px;
      @include clearfix();
      &.fixed {
        @include box-shadow(0 2px 2px -1px rgba(0,0,0,0.1));
      }

      .btn-group {
        float: left;

        &.pull-right {
          float: right;
        }
      }
    }

    #content_wrapper {
      overflow: hidden;

      #scroll_wrapper {
        overflow-y: scroll;
      }
    }

    #content_footer {
      color: $footer-font-color;
      font-size: 85%;
      text-align: center;
      margin-bottom: 5px;
      margin-top: 5px;
      padding-top: 8px;

      a {
        color: $footer-font-color;
        text-decoration: underline;
      }
    }
  }
}
