/*
 * Sidebar style
 */

aside {
  float: left;
  width: $sidebar-width;

  #sidebar_header {
    margin-left: 9px;
    padding: 4px 16px 15px 1px;
    min-height: 27px;

    .title {
      color: $sidebar-title-color;
      font-size: $sidebar-title-font-size;
      padding: 0 7px;
      .caret {
        border-color: $sidebar-title-color transparent;
      }
    }
  }

  .action {
    margin-left: 16px;
    padding: 0 4px 8px 0;

    .btn {
      text-transform: uppercase;
    }
  }
}
