/*
 * Buttons style overwrite
 */

@mixin fa-sizes() {
  .fa { font-size: 14px; }
  .fa-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -15%;
  }
  .fa-2x { font-size: 2em; }
  .fa-3x { font-size: 3em; }
  .fa-4x { font-size: 4em; }
  .fa-5x { font-size: 5em; }
}

.btn {
  i + span { margin-left: 4px; }
  @include fa-sizes();
  span.glyphicon {
    margin-right: 2px;
    top: 2px;
  }

  display: inline-block;
  margin-bottom: 0;
  font-weight: $button-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  @include box-shadow(0 1px 0 rgba(0,0,0,0.05));
  @include button-size($button-padding-vertical, $button-padding-horizontal, $button-font-size, $button-line-height, $button-border-radius);
  @include user-select(none);

  &:hover,
  &:focus,
  &:active:focus,
  &.active:focus {
    outline: 0 none;
  }

  &:hover,
  &:focus {
    //color: #404040;
    text-decoration: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none;
    @include opacity(.65);
    @include box-shadow(none);
  }

  &.btn-icon {
    //min-width: $button-min-width;
  }
}

// Rewrite Button Sizes
.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $button-border-radius);
}
.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $button-border-radius);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $button-border-radius);
  font-weight: normal;
  &.btn:hover {
    @include box-shadow(none);
  }
}

.btn-default {
  color: #404040;
  border-color: #d9d9d9;
  background-color: $white;

  &:hover,
  &:focus,
  &:active {
    color: #404040;
    background-color: $white;
  }

  &:focus {
    border-color: #d9d9d9;
  }

  &:hover {
    border-color: #bfbfbf;
    @include box-shadow(0 1px 0 rgba(0,0,0,0.1));
  }

  &:active,
  &.active {
    border-color: #bfbfbf;
    @include box-shadow(0 1px 0 #ddd inset);
  }
}

.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger {
  color: $white;
  border-color: transparent;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $white;
    border-color: transparent;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: transparent;
    }
  }
}

@mixin custom-button-variant($color) {
  background-color: $color;
  $light-color: saturate(lighten($color, 4), 7);
  $dark-color: desaturate(darken($color, 12), 29);

  &:focus {
    background-color: $color;
  }

  &:hover {
    background-color: $light-color;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) $dark-color;
    @include box-shadow(0 -1px 0 $dark-color inset);
  }

  &:active,
  &.active {
    background-color: $light-color;
    border-color: $dark-color rgba(0,0,0,0) rgba(0,0,0,0);
    @include box-shadow(0 1px 1px $dark-color inset);
  }
}

.btn-primary {
  @include custom-button-variant(#427fed);
}

.btn-success {
  @include custom-button-variant(#53a93f);
}

.btn-info {
  @include custom-button-variant($btn-info-bg);
}

.btn-warning {
  @include custom-button-variant($btn-warning-bg);
}

.btn-danger {
  @include custom-button-variant(#d73d32);
}

.btn-icon, .btn-icon:focus {
  background: rgba(0,0,0,0);
  color: rgba(0,0,0,0.4);
  font-size: 2em;
  position: relative;
  @include box-shadow(none);
  cursor: pointer;

  &:hover {
    color: rgba(0,0,0,0.6);
  }
}

.btn-tab {
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,0.4);
  border-radius: 0px;
  box-shadow: none;
  padding: 6px;

  &:hover {
    color: rgba(0,0,0,0.6);
  }

  .icon {
    font-size: 13px;
  }
}

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  & + & {
    margin-top: 5px;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
