/*
 * Nobix Forms elements
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

label.inline-control {
  @include opacity(100);
  line-height: 15px;
  min-height: 15px;
  margin-left: 7px;
  margin-bottom: 0;
  padding: 0;
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    margin: 0;
    z-index: $zindex-tooltip;

    & + span::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0;
      @include border-radius($input-border-radius);
      vertical-align: middle;
      border: 1px solid $input-border;
      @include box-shadow(0 0 1px 0 $input-border inset);
      background: url("/static/img/sprite.png") no-repeat scroll -2px -2px $input-bg;
    }

    &:checked + span::before {
      background-position: -4px -23px;
    }

    &:hover + span::before {
      border-color: $input-border-hover;
    }

    &:focus + span::before {
      border-color: $input-border-focus;
    }
  }
}

