/*
 * Nobix Forms elements
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

div.control-checkbox {
  @include inline-block;
  background-color: $white;
  border: 1px solid rgba(155,155,155,0.57);
  @include border-radius($input-border-radius);
  height: 13px;
  width: 13px;
  margin: 0 4px 0 1px;
  outline: 0 none;
  vertical-align: text-bottom;
  cursor: pointer;

  &:hover {
    border-color: $input-border-hover;
    @include box-shadow(0 1px 1px rgba(0,0,0,0.1) inset);
  }

  &:active {
    border-color: $input-border-focus;
  }

  .control-checkbox-checkmark {
    height: 15px;
    width: 15px;
    left: 0;
    top: -3px;
    outline: 0 none;
    position: relative;
  }

  &.control-checkbox-checked {
    .control-checkbox-checkmark {
      background: url(/static/img/checkmark.png) no-repeat scroll -5px -3px rgba(0,0,0,0);
    }
  }
}
