/*
 * Custom mixins
 */

@mixin inline-block() {
  display: inline-block;
  position: relative;
}

@mixin transform($transformation...) {
  -webkit-transform: $transformation;
      -ms-transform: $transformation;
          transform: $transformation;
}

@mixin fixed($left, $top) {
  position: fixed;
  left: $left;
  top: $top;
}

@mixin pointer-events($events) {
  -webkit-pointer-events: $events;
          pointer-events: $events;
}
