//
// Overwrite some modals styles
//

.modal {
  overflow-y: auto;
}

.modal-dialog {
  position: absolute;
  margin: 0;
  width: auto;
  height: auto;
  max-width: 90%;
  top: -9999px;
  left: -9999px;

  .modal-content {
    @include border-radius($modal-border-radius);
    @include box-shadow($modal-border-shadow);
    padding: $modal-padding;

    .modal-header {
      margin-bottom: 30px;
      border-bottom: none;

      .modal-title {
        font-size: $modal-title-font-size;
        font-weight: normal;
        color: #000;
      }

      .modal-close {
        font-size: 18px;
        font-weight: bold;
        line-height: 11px;
        padding: 2px;
        margin: 10px;
        @include opacity(.5);
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        @include user-select(none);

        &:hover {
          @include opacity(1);
        }
      }
    }

    .modal-body {
      padding: 0;
    }

    .modal-footer {
      margin-top: 16px;
      padding: 0;
      border-top: none;
      text-align: left;

      .btn + .btn {
        margin-left: 16px;
      }
    }
  }
}

// vim:ft=scss:sw=2
