/*
 * Page style
 */

.scroll-container {
  overflow-y: hidden;
  padding-right: 0;

  .scroll-wrapper {
    overflow-y: auto;
    padding-right: 15px;
  }
}

.page {
  padding-top: 15px;
  padding-bottom: 15px;

  .main-header {
    margin-bottom: 15px;
    h3 {
      font-family: OpenSans;
      font-weight: 100;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      text-transform: uppercase;
    }
    em {
      vertical-align: middle;
      color: #999;
    }
    h3 + em {
      line-height: 26px;
      display: inline-block;
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #ccc;
    }
  }
}
