/* Point of Sale Application module */

$test-color-1:  #ff99cc;
$test-border-1: #cc0066;
$test-color-2:  #ffcccc;
$test-border-2: #990000;
$test-color-3:  #ffcc99;
$test-border-3: #cc6600;
$test-color-4:  #ffffcc;
$test-border-4: #999900;
$test-color-5:  #ccff99;
$test-border-5: #66cc00;
$test-color-6:  #ccffcc;
$test-border-6: #009900;
$test-color-7:  #99ffcc;
$test-border-7: #00cc66;
$test-color-8:  #ccffff;
$test-border-8: #009999;
$test-color-9:  #99ccff;
$test-border-9: #0066cc;
$test-color-10:  #ccccff;
$test-border-10: #0000cc;
$test-color-11:  #cc99ff;
$test-border-11: #6600cc;
$test-color-12:  #ffccff;
$test-border-12: #cc00cc;

$header-height: 60px;
$footer-height: 60px;

#pos {

  font-family: 'RobotoCondensed',arial,sans-serif;

  header, footer {
    width: 100%;
    position: fixed;
  }

  header {
    background-color: $test-color-1;
    border: 1px solid $test-border-1;
    height: $header-height;
    top: 0;
  }

  footer {
    background-color: $test-color-9;
    border: 1px solid $test-border-9;
    height: $footer-height;
    bottom: 0;

    .total-container {
      float: right;
      font-size: 40px;
      padding-right: 15px;

      .sign: {
        color: #aaa;
      }
    }
  }

  #content {
    visibility: hidden;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2px;

    .item-list {
      width: 100%;
      border-collapse: separate;
      margin-bottom: 3px;

      .col-quantity { width: 5em; }
      .col-unit-price { width: 9em; }
      .col-total-price { width: 10em; }

      tr {
        font-size: 28px;
        border: 1px solid #ddd;

        td {
          height: 40px;
          padding: 0;
          vertical-align: middle;
          border: 2px solid transparent;

          &.focused {
            border: 2px solid orange;
          }

          input {
            outline: none;
            height: 40px;
            border-width: 0px;
            background-color: transparent;

            &.code {
              width: 14ex;
            }
            &.quantity {
              text-align: right;
              width: 5ex;
            }
          }
        }

        .unit-price, .total-price {
          text-align: right;
          visibility: visible;
        }

        &#appender {
          .unit-price, .total-price {
            visibility: hidden;
          }
        }
      }
    }
  }

}
