/* Point of Sale Application module */

$test-color-1:  #ff99cc;
$test-border-1: #cc0066;
$test-color-2:  #ffcccc;
$test-border-2: #990000;
$test-color-3:  #ffcc99;
$test-border-3: #cc6600;
$test-color-4:  #ffffcc;
$test-border-4: #999900;
$test-color-5:  #ccff99;
$test-border-5: #66cc00;
$test-color-6:  #ccffcc;
$test-border-6: #009900;
$test-color-7:  #99ffcc;
$test-border-7: #00cc66;
$test-color-8:  #ccffff;
$test-border-8: #009999;
$test-color-9:  #99ccff;
$test-border-9: #0066cc;
$test-color-10:  #ccccff;
$test-border-10: #0000cc;
$test-color-11:  #cc99ff;
$test-border-11: #6600cc;
$test-color-12:  #ffccff;
$test-border-12: #cc00cc;

$header-height: 60px;
$footer-height: 60px;

#pos {
  background-color: $white;

  .container-sku,
  .cell-quantity,
  .cell-unit-price,
  .cell-total-price,
  .total-container {
    font-family: 'RobotoCondensed',arial,sans-serif;
  }

  font-family: arial,sans-serif;

  #header, #footer {
    width: 100%;
    position: fixed;
    z-index: $zindex-navbar-fixed;
    &.shadowed {
      @include box-shadow(0 0 2px 2px rgba(0,0,0,0.3));
    }
  }

  #header {
    border-bottom: 1px solid #a5a5a5;
    height: $header-height;
    top: 0;
  }

  #footer {
    border-top: 1px solid #a5a5a5;
    height: $footer-height;
    bottom: 0;

    .total-container {
      float: right;
      font-size: 40px;
      padding-right: 15px;

      .sign: {
        color: #aaa;
      }
    }
  }

  #body {
    visibility: hidden;
    position: fixed;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2px;

    .item-list {
      width: 100%;
      border-collapse: separate;
      margin-bottom: 0;

      .col-quantity { width: 5em; }
      .col-unit-price { width: 9em; }
      .col-total-price { width: 10em; }

      tr {
        font-size: 28px;

        td {
          height: 40px;
          padding: 0;
          vertical-align: middle;
          border-top: 1px solid #e5e5e5;

          div.border {
            margin-top: -1px;
            border: 2px solid transparent;
            &.focused { border-color: orange; }
          }

          input {
            outline: none;
            height: 40px;
            border-width: 0px;

            &, &:hover {
              @include box-shadow(none);
              border-color: transparent;
              background-color: transparent;
            }

            &.sku {
              width: 14ex;
            }
            &.quantity {
              text-align: right;
              width: 5ex;
            }
          }
        }

        .cell-sku-description {
          line-height: 18px;

          .container-sku, .container-description {
            display: inline-block;
          }
          .container-description {
            font-family: Roboto;
            vertical-align: middle;

            span { display: block; }

            .description {
              font-size: 18px;
              font-weight: 500;
            }

            .stock-info {
              color: #999;
              font-size: 14px;
            }
          }
        }

        .cell-unit-price, .cell-total-price {
          text-align: right;
          visibility: visible;
        }

        &#appender {
          td {
            border-bottom: 1px solid #e5e5e5;
          }
          .cell-unit-price, .cell-total-price {
            span { visibility: hidden; }
          }
          .container-description { visibility: hidden; }
          .quantity { visibility: hidden; }
        }
      }
    }
  }

  /* Custom dialog style */
  .modal-dialog {
    font-family: 'Roboto',arial,sans-serif;
    .modal-title {
      font-size: 20px;
    }

    input {
      outline: none;
      font-size: 16px;

      &, &:hover {
        @include box-shadow(none);
        border: 2px solid transparent;
        background-color: transparent;
      }

      &:focus {
        border-color: orange;
      }

    }
  }

}
