
// Search dialog style

.search-dialog {
  height: 85%;
  width: 85%;
  position: fixed;

  .modal-content {
    width: 100%;
    height: 100%;

    .search-container {
      overflow-y: scroll;
    }
  }
}

.search-results {
  font-size: 18px;

  .col-sku { width: 98px; }
  .col-description { width: 100%; }
  .col-price { width: 70px; }

  tr td {
    vertical-align: inherit;
    height: 30px;
  }
}
// vim:sw=2:ft=scss
