
// Search dialog style

.search-dialog {
  height: 85%;
  width: 85%;
  position: fixed;


  .modal-content {
    width: 100%;
    height: 100%;

    .modal-header {
      margin-bottom: 0;
      padding-bottom: 7px;
    }

    .search-container {
      overflow-y: scroll;
    }

  }
}

.search-results {
  font-size: 18px;

  .col-sku { width: 14ex; }
  .col-description { width: 100%; }
  .col-price { width: 8ex; }

  tr td {
    vertical-align: inherit;
    height: 30px;

    .matched {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
// vim:sw=2:ft=scss
