/*
 * Nobix Tables
 */

.list-container {
}

table {

  &.list {
    width: 100%;
    table-layout: fixed;
    cursor: default;

    thead {
      z-index: 1;
      width: 100%;

      tr {
        height: 28px;
        color: #555;
        font-size: 11px;

        th {
          background-color: $white;
          font-weight: normal;
          text-transform: uppercase;
          z-index: 1;
          border-bottom: 1px solid #e5e5e5;
          empty-cells: show;
          overflow: hidden;
          text-align: left;
          white-space: nowrap;
          height: 28px;
          display: table-cell;

          &.header-active-indicator {
            border-bottom: transparent;
          }

          &.header-checkbox {
            text-align: center;
          }

          &.header-sorted {
            color: #dd4b39;
            font-weight: bold;
          }

          .header-label {
            padding: 0 0 0 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: text-top;
          }
        }
      }
    }

    tr {
      height: 26px;
      color: $gray-darker;

      &.selected {
        background-color: #ffc;
      }

      &:hover {
        background-color: #ffffd6;
      }

      td {
        height: 23px;
        border-bottom: 1px solid #ebebeb;
        empty-cells: show;
        white-space: nowrap;
        padding-left: 6px;
        vertical-align: top;

        &.cell-active {
          border-bottom: transparent;
        }
        &.cell-active, &.cell-checkbox {
          padding-left: 0;
          text-align: center;
        }


        .icon-image {
          width: 16px;
          height: 16px;
          padding: 0;
          margin-right: 3px;
          background-repeat: no-repeat;
          display: inline-block;
          vertical-align: text-bottom;

          & + .cell-label-container { padding: 0 1px 0 4px; }
        }

        .cell-label-container {
          line-height: 26px;
        }

        .control-checkbox {
          margin-top: 6px;
        }

        a {
          color: #222;
          text-decoration: none;

          &:hover {
            color: #1155cc;
            text-decoration: underline;
          }
        }

        label.inline-control input[type="checkbox"] {
          margin-top: 8px;

          & + span:before {
            margin-top: 6px;
          }
        }
      }

    }
  }

  /* fix table header plugin */
  &.fixed {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
  }

  /* Product List */
  &.productlist {
    .col-active-indicator { width: 4px; }
    .col-checkbox { width: 23px; }
    .col-sku { width: 98px; }
    .col-description { width: 100%; }
    .col-date { width: 70px; }
    .col-price { width: 70px; }

    .product-icon {
      background-image: url(/static/img/product-icon.png);
    }
  }
}

