/*
 * Nobix Tables
 */

table.list {
  width: 100%;
  table-layout: fixed;
  cursor: pointer;

  tr {
    height: 27px;
    line-height: 15px;
    color: $gray-darker;

    &.selected {
      background-color: #ffc;
    }
  }

  td {
    border-bottom: 1px solid #e5e5e5;
    empty-cells: show;
    padding: 2px 0;
    white-space: nowrap;
  }
}

table.productlist {

  col.sku {
    width: 14ex;
  }

  td.description {
    padding-left: 3px;

    span {
      font-weight: bold;
    }
  }
}
