/*
 * Nobix Tables
 */

.list-container {
  padding-top: 28px;
}

table {
  &.list {
    width: 100%;
    table-layout: fixed;
    cursor: default;

    thead {
      z-index: 1;
      position: absolute;
      top: 0;
      width: 100%;

      tr {
        height: 28px;
        color: #555;
        font-size: 11px;

        transition: all 0.218s ease 0s;

        th {
          background-color: $white;
          font-weight: normal;
          text-transform: uppercase;
          z-index: 1;
          border-bottom: 1px solid #e5e5e5;
          empty-cells: show;
          overflow: hidden;
          text-align: left;
          white-space: nowrap;
          height: 28px;
          display: table-cell;

          &.header-active-indicator {
            border-bottom: transparent;
          }

          &.header-sorted {
            color: #dd4b39;
            font-weight: bold;
          }

          .header-label {
            padding: 0 0 0 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: text-top;
          }
        }
      }
    }

    tr {
      height: 26px;
      color: $gray-darker;

      &.selected {
        background-color: #ffc;
      }
    }

    td {
      border-bottom: 1px solid #e5e5e5;
      empty-cells: show;
      white-space: nowrap;
      padding-left: 6px;

      .icon-image {
        width: 16px;
        height: 16px;
        padding: 0;
        margin-top: 5px;
        margin-right: 3px;
        background-repeat: no-repeat;
        display: inline-block;
      }

      span {
        padding: 0 1px 0 4px;
      }

      a {
        color: #222;
        text-decoration: none;
        line-height: 23px;
        height: 23px;

        &:hover {
          color: #1155cc;
          text-decoration: underline;
        }
      }
    }
  }

  /* Product List */
  &.productlist {
    .col-active-indicator { width: 4px; }
    .col-checkbox { width: 23px; }
    .col-sku { width: 14ex; }
    .col-description { width: 100%; }
    .col-date { width: 10ex; }
    .col-price { width: 10ex; }

    .cell-active { border-bottom: transparent; }
    .cell-active, .cell-checkbox { padding-left: 0; }

    .product-icon {
      background-image: url(/static/img/product-icon.png);
    }
  }
}

