// Variables for bootstrap

$font-size-base:                13px;


// Custom variables for Nobix
$appbar-background-color:       #2d2d2d;
$appbar-border-color:           #000;
$appbar-font-color:             #bbb;
$appbar-height:                 23px;

// Banner
$banner-background-color:       #f1f1f1;
$banner-border-color:           #e5e5e5;
$banner-height:                 45px;

// Toolbar
$toolbar-border-color:          #e5e5e5;
