// Variables for bootstrap

// Some colors redefinition for use previous default colors
$gray-light:                    lighten(#000, 20%);
$white:                         white;

// Typography
$font-size-base:                13px;
$font-family-base:              arial,sans-serif !default;
$font-family-monospace:         monospace;

$dropdown-border:               rgba(0,0,0,.2) !default;
$dropdown-link-hover-color:     $gray-light !default;
$dropdown-link-hover-bg:        #eee !default;
$dropdown-link-disabled-color:  rgb(204,204,204) !default;

// Core variables
$border-radius-base:            1px;


@import "bootstrap/variables";

// Custom variables for Nobix
$appbar-background-color:       #2d2d2d;
$appbar-border-color:           #000;
$appbar-font-color:             #bbb;
$appbar-height:                 24px;

// Banner
$banner-background-color:       #f1f1f1;
$banner-border-color:           #e5e5e5;
$banner-height:                 46px;

// Toolbar
$toolbar-border-color:          #e5e5e5;

// Sidebar
$sidebar-width:                 180px;
$sidebar-title-color:           #dd4b39;
$sidebar-title-font-size:       14pt;

// Buttons
$button-padding-vertical:       0;
$button-padding-horizontal:     16px;
$button-font-color:             #444;
$button-font-family:            $font-family-base;
$button-font-size:              11px;
$button-font-weight:            bold;
$button-line-height:            27px;
$button-border-color:           rgba(0,0,0,0.1);
$button-border-radius:          2px;
$button-border-focused-color:   #4d90fe;
$button-background-color:       #f5f5f5;
$button-high-background-color:  #f1f1f1;

// Forms
$input-border-hover:            #a6a6a6;
$input-border-focus:            #4d90fe;

// Footer
$footer-font-color:             #777;
