/*
 * Variables for Nobix theme
 */

// Colors
$white:                 #ffffff;
$gray:                  #555555;
$light-gray:            #dddddd;
$gray-0:                #404040;
$gray-1:                #f5f5f5;
$gray-2:                #e5e5e5;
$gray-dark:             #262626;
$black:                 #000000;

$link-color:            #427fed;


// Fonts configuration
$font-base-path:        "../fonts";
$font-family:           Roboto,Arial,sans-serif;
$font-size:             13px;
$font-size-small:       11px;

$fa-font-path:          "../fonts/" !default;
$fa-font-name:          "fontawesome-webfont" !default;

// Body style
$body-color:            $gray;
$body-color-2:          #767676;
$body-bg:               $gray-2;

// Override global border radius
$border-radius-base:    3px;

// Variant colors
$primary-bg:            #1c7ebb;
$primary-light-bg:      #449dd5;
$success-bg:            #53a93f;
$info-bg:               #2ec1cc;
$warning-bg:            #ffb61c;
$danger-bg:             #e94b3b;
$orange-bg:             #f98e33;
$violet-bg:             #6a55c2;
$dark-bg:               #222533;
$bright-bg:             #fafafa;
$facebook-bg:           #335397;
$twitter-bg:            #00c7f7;
$google-plus-bg:        #df4a32;

// Top Bar
$topbar-vert-padding:   5px;
$topbar-horiz-padding:  0;
$topbar-height:         60px;
$topbar-bg:             $white;
$topbar-color:          $gray;
$topbar-color-hover:    $black;
$count-bg:              #e60404;

// Side bar
$menu-item-border:      #dfdfdf;
$menu-item-bg:          $white;
$menu-item-bg-active:   #eee;
$menu-item-color:       $gray-dark;

// Toolbar
$toolbar-border-color:  #e5e5e5;
$toolbar-padding:       7px;

// Widgets
$widget-bg:             $white;
$widget-border-color:   #d8d8d8;
$widget-border-radius:  3px;
$widget-border-style:   solid;
$widget-padding:        20px;


// Buttons
$button-padding-vertical:       $padding-base-vertical;
$button-padding-horizontal:     $padding-base-horizontal;
$button-min-width:              72px;
$button-font-color:             #222;
$button-font-family:            $font-family;
$button-font-size:              12px;
$button-font-weight:            bold;
$button-line-height:            inherit;
$button-border-color:           rgba(0,0,0,0.05);
$button-border-color-hover:     #bfbfbf;
$button-border-radius:          2px;
$button-border-focused-color:   #4d90fe;
$button-background-color:       $white;
$button-background-active-color:$gray-2;
$button-hihg-background-color:  #f1f1f1;
$button-shadow-color:           rgba(0,0,0,0.05);
$button-shadow-color-hover:     rgba(0,0,0,0.1);

// Forms
$input-border-radius:           1px;
$input-border:                  rgba(0,0,0,0.15);
$input-border-hover:            rgba(0,0,0,0.3); //#b2b2b2;
$input-border-focus:            #4285f4; //#4d90f3;

// Modals
$modal-border-width:            1px;
$modal-border-shadow:           0 4px 16px rgba(0,0,0,0.2);
$modal-backdrop-bg:             $white;
$modal-backdrop-opacity:        .75;
