<div class="pager pull-right">
  <div class="pages">
    <span class="first"></span>&nbsp;&dash;&nbsp;<span class="last"></span>
  </div>
  <div class="btn-group">
    <button class="btn btn-default btn-thin" disabled="disabled" title="Anterior" name="prev-page" rel="tooltip">
      <i class="fa fa-angle-left"></i>
    </button>
    <button class="btn btn-default btn-thin" disabled="disabled" title="Siguiente" name="next-page" rel="tooltip">
      <i class="fa fa-angle-right"></i>
    </button>
  </div>
</div>
