<div class="edit-layout container">

  <div class="row">
    <div class="col-md-12">
      <input class="big noborder autogrow" type="text" placeholder="Añade un código" spellcheck="false" name="sku">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"><input class="noborder autogrow" type="text" placeholder="Añade una descripción" spellcheck="false" name="description"></div>
  </div>

  <div class="separator"></div>

  <div class="row">
    <div class="col-md-5">
      <input class="noborder autogrow" type="text" placeholder="Precio" spellcheck="false" name="price">
    </div>
  </div>
</div>
