<td class="cell-active"></td>
<td class="cell-checkbox">
  <label class="inline-control">
    <input name="product:{{ id }}" type="checkbox"/>
    <span></span>
  </label>
</td>
<td class="cell-sku">
  <a class="link-product-sku" href="#products/{{ id }}"><span class="product-sku cell-label-container">{{ sku }}</span></a>
</td>
<td class="cell-description">
  <a class="link-product-description" href="#products/{{ id }}"><div class="icon-image product-icon"></div><span class="product-description cell-label-container">{{ description }}</span></a>
</td>
<td class="cell-date"></td>
<td class="cell-price"><span class="product-price cell-label-container">{{ price }}</span></td>
