<div class="action">
  <button class="btn">Nuevo Producto</button>
</div>
<div class="action">
  <button class="btn btn-primary">Nuevo Producto</button>
</div>
<div class="action">
  <button class="btn btn-info">Nuevo Producto</button>
</div>
<div class="action">
  <button class="btn btn-success">Nuevo Producto</button>
</div>
<div class="action">
  <button class="btn btn-warning">Nuevo Producto</button>
</div>
<div class="action">
  <button class="btn btn-danger">Nuevo Producto</button>
</div>
<div class="action">
  <button class="btn btn-inverse">Nuevo Producto</button>
</div>
