{% extends "dialog_content.html" %}

{% block header %}
<input class="search" name="term" spellcheck="false"></input>
<span class="modal-title pull-right">Buscar Productos</span>
{% endblock %}

{% block body %}
<div class="search-container">
  <table class="search-results list">
    <colgroup>
      <col class="col-sku">
      <col class="col-description">
      <col class="col-price">
    </colgroup>
    <thead>
      <tr>
        <th class="header-sku"><span class="header-label">Código</span></th>
        <th class="header-description"><span class="header-label">Descripción</span></th>
        <th class="header-price"><span class="header-label">Precio</span></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
{% endblock %}

{# vim:sw=2:ft=jinja
#}
