<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">

    <title>Experimento</title>

    <link rel="stylesheet" href="/static/css/nobix.css" type="text/css">
    <script src="/static/js/config.js"></script>
    <script src="/static/js/vendor/require.js" data-main="main">
    </script>

  </head>
  <body id="dashboard">
    <div class="page-header">
      <div class="container">
        <h1>Nobix Dashboard</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div id="products" class="panel panel-special">
            <div class="panel-heading">
              <h1 class="panel-title">Productos</h1>
            </div>
            <p>Administre los <a href="/admin#products">productos</a> o servicios que ofrece su empresa.</p>
          </div>
          <div id="people" class="panel panel-special">
            <div class="panel-heading">
              <h1 class="panel-title">Personas</h1>
            </div>
            <div class="panel-body">
              <p>Administre los clientes, <a href="/admin#suppliers">proveedores</a> y usuarios del sistema.
                Puede dar de alta nuevos clientes o <a href="/admin#suppliers/new">proveedores></a> si lo necesita.</p>
            </div>
          </div>
          <div id="help" class="panel panel-special">
            <div class="panel-heading">
              <h1 class="panel-title">Ayuda</h1>
            </div>
            <div class="panel-body">
              <p>Encuentre toda la ayuda que necesita para operar el sistema de
                manera más eficiente.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="tod" class="panel panel-special">
            <div class="panel-heading">
              <h1 class="panel-title">Consejo del Día</h1>
            </div>
            <div class="panel-body">
              <p>Nobix tiene un sistema de gestión de tareas pendientes. Puede
                ser útil para gestionar trabajos pendientes con los clientes o
                para el control de quehaceres internos de su empresa. Para más
                información vea el menú 'Tareas'.</p>
            </div>
          </div>
          <div id="documents" class="panel panel-special">
            <div class="panel-heading">
              <h1 class="panel-title">Comprobantes</h1>
            </div>
            <div class="panel-body">
              <p>Administre diferentes tipos de comprobantes como facturas,
                tickets, recibos, remitos y presupuestos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
