// Variables for bootstrap

// Some colors redefinition for use previous default colors
$gray-light:                    lighten(#000, 20%);
$white:                         white;

// Typography
$font-size-base:                13px;
$font-family-base:              arial,sans-serif !default;
$font-family-monospace:         monospace;

$dropdown-border:               rgba(0,0,0,.2) !default;
$dropdown-link-hover-color:     $gray-light !default;
$dropdown-link-hover-bg:        #eee !default;
$dropdown-link-disabled-color:  rgb(204,204,204) !default;

// FontAwesome variables
$fa-font-path:                  "../fonts/" !default;
$fa-font-name:                  "fontawesome-webfont" !default;

// Core variables
$border-radius-base:            1px;


@import "bootstrap/variables";

// Dashboard
$dashboard-background-color:    #e5e5e5;

// Custom variables for Nobix
$appbar-background-color:       #2d2d2d;
$appbar-border-color:           #000;
$appbar-font-color:             #bbb;
$appbar-height:                 24px;

// Banner
$banner-background-color:       #f1f1f1;
$banner-border-color:           #e5e5e5;
$banner-height:                 46px;

// Toolbar
$toolbar-border-color:          #e5e5e5;

// Sidebar
$sidebar-width:                 180px;
$sidebar-title-color:           #dd4b39;
$sidebar-title-font-size:       14pt;

// Buttons
$button-padding-vertical:       0;
$button-padding-horizontal:     8px;
$button-min-width:              72px;
$button-font-color:             #222;
$button-font-family:            $font-family-base;
$button-font-size:              11px;
$button-font-weight:            bold;
$button-line-height:            27px;
$button-border-color:           rgba(0,0,0,0.1);
$button-border-radius:          2px;
$button-border-focused-color:   #4d90fe;
$button-background-color:       #f5f5f5;
$button-high-background-color:  #f1f1f1;

// Forms
$input-border-hover:            #b2b2b2; //#a6a6a6;
$input-border-focus:            #4d90fe;

// Modals
$modal-content-border-color:    rgba(0,0,0,.333);
$modal-border-radius:           2px;
$modal-border-shadow:           0 4px 16px rgba(0,0,0,0.2);
$modal-padding:                 30px 32px;
$modal-title-line-height:       24px;
$modal-title-font-size:         16px;
$modal-title-padding:           0px;
$modal-backdrop-bg:             $white;
$modal-backdrop-opacity:        .75;

// Footer
$footer-font-color:             #777;
