<div id="supplier_{{ supplier.id }}" class="tab-pane fade">
  {# keep the folowing line here, because a bug in nunjucks??? #}
  {% from "admin/_macros.html" import inforow %}
  <div class="row">
    <div class="col-md-6">
      <div class="body-section">
        <span class="body-section-title">Producto</span>
        <div class="info-horizontal">
          {{ inforow('Código', sku|d("&mdash;")) }}
          {{ inforow('Descripción', description|d("&mdash;")) }}
          {{ inforow('Precio de Lista', base_cost|numberfmt) }}
          {{ inforow('Precio Final', cost|numberfmt) }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="body-section">
        <span class="body-section-title">Proveedor</span>
        <div class="info-horizontal">
          {{ inforow('Razón Social', supplier.name) }}
        </div>
      </div>
    </div>
  </div>
</div>
{# vim:sw=2:ft=jinja
#}
