
<div class="widget">
  <div class="widget-header">
    <span class="widget-title">Proveedores</span>
  </div>
  <div class="widget-body">
    <ul class="nav nav-tabs tabs-right">
      <li><button class="btn btn-tab" name="add-supplier" rel="tooltip" title="Agregar Proveedor"><i class="icon ion-plus"></i></button></li>
      <li><a data-toggle="tab" href="#supplier_3">Proveedor 3</a></li>
      <li><a data-toggle="tab" href="#supplier_2">Proveedor 2</a></li>
      <li class="active"><a data-toggle="tab" href="#supplier_1">Proveedor 1</a></li>
    </ul>
    <div class="tab-content">
      <div id="supplier_3" class="tab-pane fade">
        <p>Proveedor #3</p>
      </div>
      <div id="supplier_2" class="tab-pane fade">
        <p>Proveedor #2</p>
      </div>
      <div id="supplier_1" class="tab-pane fade in active">
        <p>Proveedor #1</p>
      </div>
    </div>
  </div>
</div>
{# vim:sw=2:ft=jinja
#}
