<div id="supplier_{{ supplier.id }}" class="tab-pane fade">
  {# keep the folowing line here, because a bug in nunjucks??? #}
  {% from "admin/_macros.html" import inforow %}
  <div class="row">
    <div class="col-md-6">
      <div class="body-section">
        <span class="body-section-title">Producto</span>
        <div class="info-horizontal">
          {{ inforow('Código', sku|d("&mdash;")) }}
          {{ inforow('Descripción', description|d("&mdash;")) }}
          {{ inforow('Precio de Lista', '$ ' + base_cost|numberfmt(2)) }}
          {{ inforow('Precio Final', '$ ' + cost|numberfmt(2)) }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="body-section">
        <span class="body-section-title">Proveedor</span>
        <div class="info-horizontal">
          <div class="info-row">
            <span class="info-label">Razón Social</span>
            <a class="info-data link-supplier" href="#suppliers/{{ supplier.id }}">{{ supplier.name }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{# vim:sw=2:ft=jinja
#}
